@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100&family=Quicksand:wght@600;700&display=swap');

h1 {
  color: white;
}

a:visited {
  color: #ffffff;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #3d3983;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f5c968 transparent;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #f5c968;
  border-radius: 12px;
  border: 3px solid transparent;
}

body::-moz-scrollbar {
  width: 6px;
}

body::-moz-scrollbar-track {
  background: transparent;
}

body::-moz-scrollbar-thumb {
  background-color: #f5c968;
  border-radius: 12px;
  border: 3px solid transparent;
}

html {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #3d3983;
}

#logo {
  width: 300px;
  cursor: pointer;
  margin-top: 3px;
}

.body-container {
  background-color: #3d3983;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  /* Adjust the width as desired */
  margin: 0 auto;
  /* Center the container horizontally */
  height: 60vh;
}

.body-container img {
  width: 10vw;
  cursor: pointer;
  margin: 50px;
}

.canvas-container {
  background-color: #3d3983;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  /* Adjust the width as desired */
  margin: 0 auto;
  /* Center the container horizontally */
  height: 75vh;
  border-radius: 10px;
  box-shadow: 5px 5px 13px #343171,
    -5px -5px 13px #464195;
}

.profile-container {
  background-color: #3d3983;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  height: 60vh;
}

.profile-container img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.image-link {
  display: inline-block;
}


.pen-width-slider {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pen-width-slider input[type='range'] {
  flex-grow: 1;
  margin-right: 10px;
}

.pen-width-slider button {
  margin-left: 10px;
}

.loading-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.navbar {
  font-size: 36px;
  background-color: #3d3983;
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-links-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.navbar-item-right {
  margin-right: 10px;
  margin-left: 25px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item>a {
  color: #fff;
  text-decoration: none;
}

.navbar-item-right>a {
  color: #fff;
  text-decoration: none;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 2% auto;
  padding: 2%;
}


.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #3d3983;
  border-radius: 10px;
  background: #3d3983;
  box-shadow: 5px 5px 13px #343171,
    -5px -5px 13px #464195;
  padding: 20px;
}

.post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.creation-time {
  justify-self: flex-end;
}

.user-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  cursor: pointer;
}

.creation-time {
  color: white;
  margin-left: 292px;
}


.cloud-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #3d3983;
  box-shadow: inset 50px 50px 81px #383479,
    inset -50px -50px 81px #423e8d;
}

.page {
  background-color: #F5C968;
  border: 4px solid #f06b80;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  border-radius: 20px;
  padding: 20px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.add-to-colab {
  cursor: pointer;
  border-color: #f06b80;
  text-align: center;
  margin-left: 142px;
}


.stt {
  margin: 1em 0;
  width: 100%;
  border-radius: 30px;
  border: 10px;
  border-color: #f06b80;
}

.transcript-log {
  height: 700px;
  width: 300px;
  border: 5px solid #f06b80;
  background-color: whitesmoke;
  color: black;
  overflow-y: scroll;
  padding: 10px;
  font-weight: 900;
}

.new-story-form {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.new-story-form label {
  display: block;
  margin-bottom: 5px;
}

.new-story-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.new-story-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #f06b80;
  margin-right: 10px;
  cursor: pointer;
}

.new-story-form button:hover {
  background-color: #f06b80;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 5px;
  background-color: #3d3983;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
  display: none;
  opacity: 0.75;
}

/* show the tooltip text when hovering */
div:hover>.tooltip-text {
  display: block;
}

.new-story-form button:hover {
  background-color: #f06b80;
}

/* larger screens */
.story-list {
  box-shadow: 5px 5px 13px #343171, -5px -5px 13px #464195;
  padding: 10px;
  overflow: auto;
  height: 620px;
  width: 250px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.story-list::-webkit-scrollbar {
  width: 6px;
}

.story-list::-webkit-scrollbar-track {
  background: transparent;
}

.story-list::-webkit-scrollbar-thumb {
  background-color: #f5c968;
  border-radius: 12px;
  border: 3px solid transparent;
}

.story-list::-moz-scrollbar {
  width: 6px;
}

.story-list::-moz-scrollbar-track {
  background: transparent;
}

.story-list::-moz-scrollbar-thumb {
  background-color: #f5c968;
  border-radius: 12px;
  border: 3px solid transparent;
}

/* smaller screens */
@media screen and (max-width: 800px) {
  .story-list {
    box-shadow: 5px 5px 13px #343171, -5px -5px 13px #464195;
    padding: 10px;
    overflow: auto;
    height: 620px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .story-list::-webkit-scrollbar {
    width: 6px;
  }

  .story-list::-webkit-scrollbar-track {
    background: transparent;
  }

  .story-list::-webkit-scrollbar-thumb {
    background-color: #f5c968;
    border-radius: 12px;
    border: 3px solid transparent;
  }

  .story-list::-moz-scrollbar {
    width: 6px;
  }

  .story-list::-moz-scrollbar-track {
    background: transparent;
  }

  .story-list::-moz-scrollbar-thumb {
    background-color: #f5c968;
    border-radius: 12px;
    border: 3px solid transparent;
  }
}