@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100&family=Quicksand:wght@600;700&display=swap');

h1 {
  color: white;
}

a:visited {
  color: #ffffff;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #3d3983;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #3d3983;
}

.body-container {
  background-color: #3d3983;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  /* Adjust the width as desired */
  margin: 0 auto;
  /* Center the container horizontally */
  height: 60vh;
}

.body-container img {
  width: 10vw;
  cursor: pointer;
  margin: 50px;
}

.profile-container {
  background-color: #3d3983;
  display: flex;
  flex-direction: column;
  width: 80vw;
  /* Adjust the width as desired */
  margin: 0 auto;
  /* Center the container horizontally */
  height: 60vh;
}

.profile-container img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.image-link {
  display: inline-block;
}


.page-container {
  width: 450px;
  height: 450px;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  font-family: 'Georgia', serif;
  background: ivory;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-size: 18px;
  width: 500px;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.title-page {
  text-align: center;
  height: 100%;
  line-height: 500px;
  font-size: 18px;
  color: black;
}

.pen-width-slider {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pen-width-slider input[type='range'] {
  flex-grow: 1;
  margin-right: 10px;
}

.pen-width-slider button {
  margin-left: 10px;
}

.loading-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  /* Center the container horizontally */
}

.navbar {
  font-size: 24px;
  background-color: #f06b80;
  height: 4rem;
  /* Adjust the height as desired */
  display: flex;
  align-items: center;
  width: 80vw;
  /* Adjust the width as desired */
  margin: 0 auto;
  /* Center the navbar horizontally */
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item>a {
  color: #fff;
  text-decoration: none;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 600px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cloud-img {
  width: 300px;
  height: auto;
}


.stt {
  margin: 1em 0;
  width: 100%;
  border-radius: 30px;
  border: 10px;
  border-color: #f06b80;
}

.transcript-log {
  height: 700px;
  width: 300px;
  border: 5px solid #f06b80;
  background-color: whitesmoke;
  color: black;
  overflow-y: scroll;
  padding: 10px;
  font-weight: 900;
}


