@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100&family=Quicksand:wght@600;700&display=swap');

h1 {
  color: white;
}

a:visited {
  color: #ffffff;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #3d3983;
}

.container {
  background-color: #3d3983;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container img {
  width: 10vw;
  cursor: pointer;
  margin: 50px;
}

.image-link {
  display: inline-block;
}

/* flip book */
.my-flipbook {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Georgia', serif;
}

/* pages */
.my-flipbook div {
  padding: 20px;
  background-color: white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: black;
}
