* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  border: 10px solid purple;
}





.start-recording {
  padding-left: 2%;
  padding-right: 2%;
}









.video-wrapper {
  position: relative;
}

.blue-overlay {
  position: absolute;
  top: 20%; /* Adjust this value as needed */
  left: 84%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  z-index: 1;
}

.overlay-eChord-text { 
  position: absolute;
  top: 32%;
  left: 84%; /* Adjust this value as needed */
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.gold-overlay {
  position: absolute;
  top: 13%; /* Adjust this value as needed */
  left: 12%; /* Adjust this value as needed */
  width: 200px; /* Adjust this value as needed */
  height: auto; /* Adjust this value as needed */
  z-index: 1;
}

.overlay-bChord-text {
  position: absolute;
  top: 32%;
  left: 16%; /* Adjust this value as needed */
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.green-overlay {
  position: absolute;
  top: 65%;
  left: 12%; /* Adjust this value as needed */
  width: 200px; /* Adjust this value as needed */
  height: auto; /* Adjust this value as needed */
  z-index: 1;
}

.overlay-aChord-text {
  position: absolute;
  top: 85%;
  left: 16%; /* Adjust this value as needed */
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.pink-overlay {
  position: absolute;
  top: 73%; /* Adjust this value as needed */
  left: 84%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  z-index: 1;
}

.overlay-cChord-text {
  position: absolute;
  top: 85%;
  left: 84%; /* Adjust this value as needed */
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
